#header
{
	font-size: 20px;
}
.panel-heading
{
	padding: 20px;
	background: #eee;
	border: 1px solid #aaa;
}
.panel-body
{
	padding: 10px;
	background: #fff;
	border: 1px solid #aaa;
}
.c-pencil
{
	font-size: 20px;
}
.panel
{
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
}